@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset root and body styles */
:root,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(17 24 39) !important; /* bg-gray-900 */
  color: white;
}

/* Remove the problematic light theme styles */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: rgb(17 24 39) !important;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  text-align: center;
}

/* Input styles */
input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  background-color: #0f0f0f69;
}

input,
button {
  outline: none;
}
